{% extends 'base.html.twig' %}
{% block content %}
<div class="container-fluid"  style="background:#e2ced2 ">
    <h1 class="text-center">Créer mon compte</h1>
    <hr>

{{ form(form) }}


</div>








{% endblock %}

